@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-1: #292f36;
  --bg-2: #1a1e23;
  --brand-1: #12f7d6;
  --brand-2: #12f7d6;
  --grey: #43454d;
  --white: #ffffff;
  --html: #e54f26;
  --css: #0c73b8;
  --js: #e7a020;
  --react: #28a9e0;
}
html,
body {
  scroll-behavior: smooth;
}

.about-bg {
  background-image: url("/assets/.about-bg.jpg");
}

.insta-gradient {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
